:local .root{

	width: 100%;

}

:local .sidebar{
	z-index: 100;
	position: fixed;
	width: 100px;
	left: 0px;
	top: 0px;
	padding: 10px;
	height: 100%;
	
	box-shadow: 0px 0px 20px 2px;
	background: #333;
}

:local .sidebar-menu{
	margin-top: 8px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

:local .sidebar-menu div{
	margin-bottom: 16px;
	width: 100%;
	text-align: center;
}


:local .sidebar-menu a:hover{
	color: white;
}

:local .sidebar-menu a:active{
	color: #aaa;
}

:local .sidebar-menu-active{
	color: white;
}

:local .sidebar-avatar{
	width: 80px;
	height: 80px;
	border-radius: 40px;
}

:local .btn-logout{
	cursor: pointer;
	padding: 8px;
	width: 100%;
	position: absolute;
	left: 0px;
	bottom: 0px;
	text-align: center;
}

:local .btn-logout a{
	color: #0b74bf;
	transition: color 0.3s;
}

:local .btn-logout:hover a{

	color: white;
}

:local .btn-logout:active a{

	color: #aaa;
	
}

:local .container{

	position: fixed;
	padding: 32px 32px 32px 132px;
	width: 100%;
	height: 100%;


}

:local .content{
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;


}