:local .root{

	width: 100%;

}

:local .sidebar{
	z-index: 100;
	position: fixed;
	width: 100px;
	left: 0px;
	top: 0px;
	padding: 10px;
	height: 100%;
	background: #dedede;
	box-shadow: 0px 0px 20px 2px;
	background: url(/image/sidebar.jpg);
}

:local .sidebar-menu{
	margin-top: 8px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

:local .sidebar-menu div{
	margin-bottom: 16px;
	width: 100%;
	text-align: center;
}


:local .sidebar-menu a:hover{
	color: orange;
}

:local .sidebar-menu a:active{
	color: #FF6600;
}

:local .sidebar-menu-active{
	color: orange;
}

:local .sidebar-avatar{
	width: 80px;
	height: 80px;
	border-radius: 40px;
}

:local .btn-logout{
	padding: 8px;
	width: 100%;
	transform: rotate(180deg);
	position: absolute;
	left: 0px;
	bottom: 0px;
	text-align: center;
	transition: background 0.3s;
}

:local .btn-logout a{
	color: white;
	transition: color 0.3s;
}

:local .btn-logout:hover{

	background: #333;

}
:local .btn-logout:hover a{

	color: orange;
}

:local .btn-logout:active a{

	color: #FF6600;
	
}

:local .container{

	position: fixed;
	padding: 32px 32px 32px 132px;
	width: 100%;
	height: 100%;


}

:local .content{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);

	display: flex;
	justify-content: center;
	align-items: center;


}